*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    background: linear-gradient(to right bottom,rgba(34, 32, 32, 0.158),rgba(15, 15, 15, 0.192)),url("html/t1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    width: 100%;
    max-width: 100%; 

}

label.logo {
    color: black;
    font-size: 40px;
    padding: 0 30px;
    font-weight: bold;
    margin: 10px 5px 40px 10px;
    float: left;
    position: absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

label.left {
    float: right;
    position: absolute;
    margin: 0px 10px 10px 0px;
    top:0px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

nav {
    height: 70px;
    width: 100%;
    margin-left: 20px;
    padding: 0;
    background: rgba(49, 36, 36, 0.4);
    background-attachment: fixed;
    float: right;
}

nav ul {
   text-align: center;
   margin-right: 0px;
   margin-bottom: 40px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}



nav ul li a {
    color: rgb(243, 243, 243);
    font-size: 13px;
    font-weight: bold;
}

a:hover {
    color: aqua;
    transition:.5s;
}
.active {
    color: orangered;
}

.checkbtn {
    font-size: 30px;
    color: rgb(87, 87, 87);
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    padding-bottom: 70px;
    
}

#check {
    display: none;
}

@media (max-width: 932px){
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
} 

nav ul li a {
    font-size: 16px;
}


@media (max-width: 838px) {
    .checkbtn{
        display: block;
    } 
    
    ul {
        position: relative;
        width: 190px;
        height: auto;
        background: rgb(71, 71, 71);
        top: 5px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        font-family: monospace;
        border: 1px solid transparent;
        
            
    }
    nav ul li {
         display: block;
         margin: 50px 0;
         line-height: 30px;
         
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover:a.active {
        background: none;
        color: transparent;
    }
    
    #check:checked ~ ul {
        left: 0;
    }
}


.moon {
    color: rgb(150, 146, 146);
    padding-left: 30px;
    padding-top: 230px;
    text-align: center;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.moon .sun {
    text-align: center;
    margin: 17px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.973);
    font-family: cursive;
}

.flex-parent {
    display: flex;
}

/* Set a style for all buttons */
button {
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    padding: 0px;
    margin: 25px 0;
    border-radius: 10px;
    cursor: pointer;
    width: auto;
    height: auto;
  }
  
  button:hover {
    opacity: 1.0;
    color: rgb(0,0,0);
  }

 /* Extra styles for the cancel button */
 .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: rgb(22, 12, 22);
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 50%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
    height: auto;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(32, 5, 37); /* Fallback color */
    padding-top: 60px;
    background-repeat: no-repeat; 
    opacity: 1.4;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgb(167, 112, 167);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }

  .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-image: url("html/w3.jpg"); /* Fallback color */
    padding-top: 60px;
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 1.4;
  }
  
  /* Modal Content/Box */
  .modal1-content {
    background-color: rgb(0, 108, 250);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }

  @media (max-width: 738px) {
    .modal1-content {
      background-color: rgb(0, 200, 250);
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 60%; /* Could be more or less, depending on screen size */
    }
  }

  @media (max-width: 738px) {
    .modal-content {
      background-color: rgb(167, 112, 167);
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 60%; /* Could be more or less, depending on screen size */
    }
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 2s;
    animation: animatezoom 2s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.jc-center {
    justify-content: center;
}

button.margin-right {
    margin-right: 100px;
}

@media (max-width: 538px) {
  p {
      font-size: 17px;
  } 

  #kore1,#kore2{
    font-size:10px;
  }
}